
* {
  box-sizing: border-box;
}
body{
b
}
h1 {
  margin-bottom: 25px;
  color: #ff0000;
  text-align: center;
}

div{
  font-size: 72;
  font-family: Hacen Tunisia Bd;
  color: Black;
  text-align: right;
  position: relative;
  background-color: red;

}
p {  
  background-color: grey;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
  font-family: Hacen Tunisia;
  font-size: 36;
  color: white;
  text-align: left;
  position: relative;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop devices **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid blue;
    margin:1%;
  }
  .col-lg-1 {
    width: 7.83%;
  }
  .col-lg-2 {
    width: 15.66%;
  }
  .col-lg-3 {
    width: 23.5%;
  }
  .col-lg-4 {
    width: 31.33%;
  }
  .col-lg-5 {
    width: 49.16%;
  }
  .col-lg-6 {
    width: 47%;
  }
  .col-lg-7 {
    width: 54.83%;
  }
  .col-lg-8 {
    width: 62.66%;
  }
  .col-lg-9 {
    width: 70.49%;
  }
  .col-lg-10 {
    width: 78.33%;
  }
  .col-lg-11 {
    width: 86.16%;
  }
  .col-lg-12 {
    width: 94%;
  }
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid blue;
    margin:1%;
  }
  .col-md-1 {
    width: 7.83%;
  }
  .col-md-2 {
    width: 15.66%;
  }
  .col-md-3 {
    width: 23.5%;
  }
  .col-md-4 {
    width: 31.33%;
  }
  .col-md-5 {
    width: 49.16%;
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-7 {
    width: 54.83%;
  }
  .col-md-8 {
    width: 62.66%;
  }
  .col-md-9 {
    width: 70.49%;
  }
  .col-md-10 {
    width: 78.33%;
  }
  .col-md-11 {
    width: 86.16%;
  }
  .col-md-12 {
    width: 96%;
  }
}

/********** Mobile Phones devices **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 1px solid blue;
    margin:1%;

  }
  .col-sm-1 {
    width: 7.83%;
  }
  .col-sm-2 {
    width: 15.66%;
  }
  .col-sm-3 {
    width: 23.5%;
  }
  .col-sm-4 {
    width: 31.33%;
  }
  .col-sm-5 {
    width: 49.16%;
  }
  .col-sm-6 {
    width: 47%;
  }
  .col-sm-7 {
    width: 54.83%;
  }
  .col-sm-8 {
    width: 62.66%;
  }
  .col-sm-9 {
    width: 70.49%;
  }
  .col-sm-10 {
    width: 78.33%;
  }
  .col-sm-11 {
    width: 86.16%;
  }
  .col-sm-12 {
    width: 94%;
  }
}